@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "Candidatos";
    ViewBag.SubTitle = "Administrador de Candidatos.";
}

<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/jquery.json-viewer.css" rel="stylesheet" />


<script type="text/javascript">
    showLoading();
</script>

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="col-12">
                <div class="form-inline">
                    <h4 class="card-title ">
                        @ViewBag.Title
                    </h4>
                    <a href="#" onclick="Candidates.OpenCreate('@Url.Action("Create")');">
                        <i class="fa fa-user addrecord" data-tippy-content="Adicionar Candidato" tabindex="0"></i>
                    </a>
                </div>
                <p class="card-category">
                    @ViewBag.SubTitle
                </p>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @Html.AjaxGrid(Url.Action("IndexGrid"))
                <input type="hidden" value="@Url.Action("Index", "CandidateExperiences", new { idCandidate = 0 })" id="urlCandidateExperience" />
            </div>
        </div>
    </div>
</div>

<script src="~/js/core/mvcgrid/mvc-grid.js"></script>
<script src="~/js/core/Petitions/Petitions.js"></script>
<script src="~/js/core/candidates/candidates.js"></script>
<script src="~/js/core/candidateexperiences/candidateexperiences.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>


@section Scripts{


    <script type="text/javascript">

        document.addEventListener('reloadend', function (e) {
            CreateAllTooltips();
            hideLoading();
        });

        [].forEach.call(document.getElementsByClassName('mvc-grid'),
            function (element) {
                new MvcGrid(element);
            });

    </script>
}